<div class="row">
    <div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-header">
    <h3>
        Login here
    </h3>
    <form class= "logForm" (ngSubmit)="onSubmit(logform)" #logform= "ngForm" (ngSubmit)="onSubmit(logform)">

        <div class="form-group">
    <label for="username">Username</label>
    <input id="username"class="form-control" placeholder="username" required autofocus ngModel name="username" [(ngModel)]="model.username" />
    
    <label for="password">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required ngModel/>
     <input type="checkbox" id="remember"  >
     <label for="m1-1" for="remember">Remember Me</label> 
    
    
    
       <button class="btn btn-primary">login</button> 
    <div class="card-body">
    
    
    
    
    
    
    </div>
    
    
    
    
    
    
    
    </div>
    
    
    
    
    
    
    
    
    
    
    <div>
    
    
        <div>
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
    
    </div>
    
    