.longbox {
    border: 5px solid Black;
    height:100px;
    width: 2500px;
}

.sidebox1{
    border: 4px solid black;
    height: 2500px;
    width: 525px;
    float: left;
    background-color:wheat;


}

.container {
    width: 1950px;
    height: 950px;
    border: 3px solid black;
    margin: 0 auto;
    background-color: wheat;
    background-repeat: repeat;
    float: right;
}

.Milkcard{

    width: 500px;
    height: 350px;
    border: 3px solid black;
    background-image:url(DairyPic.jfif);
    
}
 .DairyText{
     text-align:center;
     color:mediumblue;
     font-size:40px;
 }
 .Meats{
     width:500px;
     height:350px;
     border: 3px solid black;
     background-image: url(MeatPic.jpg);
     
 }

 .MeatText{

     text-align:center;
     color:aliceblue;
     font-size:40px;
 }

.Fruits {

width:500px;
height:350px;
border:3px solid black;
background-image:url(fruits.jpg);



}


.FruitText{
    text-align:center;
    color:black;
    font-size:40px;
}

.vegatable{
    width:500px;
    height:350px;
    border:3px solid black;
    background-image:url(Vega.jpg);




}

.vegaText{

    text-align: center;
    color:grey;
    font:bold;
    font-size:40Px;
}

.DairyButton{
    align-items:center;
}